body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-image: url("PICS/back11.svg");
    background-size: cover;
    background-color: #e5d5bd;
}
header{
    align-items: start;
}
#header1 {
    align-content: start;
    z-index: -5;
    width: 100%;
    left: 0;

}
p{
    margin-left: 5px;
}
#stcph{
    position: fixed;
    position: -webkit-sticky;
    align-content: end;
    bottom: 0;
    width: 100%;
    left: 0;
    opacity: 80%;

}
#title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgb(233, 70, 0);
    font-size: 80;
    text-align: left;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;

}
#text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30;
    font-weight: bold;

}
#HomeHeader{
    font-size: 35;
    color: #4E6AD1;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
#HomeP1{
color: black;
font-size: 25;
}
#text-character{
    background-color: white;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:justify;
    line-height: 50px;
    margin-left: 50px;
    margin-right: 50px;



}
.character-font{
    font-size: 35;
    color: rgb(233, 70, 0);

}
.title-about{

    color: black;
}