body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-image: url("PICS/back11.svg");
    background-size: cover;
    background-color: #e5d5bd;
}
header{
    align-items: start;
}
#header1 {
    align-content: start;
    z-index: -5;
    width: 100%;
    left: 0;

}
p{
    margin-left: 5px;
}
#stcph{
    position: fixed;
    position: -webkit-sticky;
    align-content: end;
    bottom: 0;
    width: 100%;
    left: 0;
    opacity: 80%;

}
#title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgb(233, 70, 0);
    font-size: 80;
    text-align: left;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;

}
#text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30;
    font-weight: bold;

}
#HomeHeader{
    font-size: 35;
    color: #4E6AD1;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
#HomeP1{
color: black;
font-size: 25;
}
#text-character{
    background-color: white;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:justify;
    line-height: 50px;
    margin-left: 50px;
    margin-right: 50px;



}
.character-font{
    font-size: 35;
    color: rgb(233, 70, 0);

}
.title-about{

    color: black;
}






/*navigation */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #ffffff;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(233, 70, 0);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(233, 70, 0);
    color: white;
  }
  


  /* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropdown-btn {
    text-decoration: none; /* Remove default underline */
    color: black; /* Change button color */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown content when hovering over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the dropdown links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-top: 25px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
